  body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
  .Imagess{
    height:50px;
    align-items: center;
    align-content: center;
  }

  .button-class{
    background-color: transparent;
    border:4px solid white;
    height:120px;
    align-items: center;
    align-content: center;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 70px;
    margin-right: 20px;
    cursor: pointer;

  }
  .result-css{
    font-weight: bold;
    font-size: 30px;
    margin-top: 60px;
    margin-bottom: 30px;
    
  }
  .moves-css,.score-css{
    margin-bottom: 30px;
  }
  .resetbutton,.autoplay{
    border: none;
    background-color: white;
    color: black;
    width: 120px;
    height: 30px;
    font-size: 15px;
  }